<div class="container">
  <div>
    <h1>Stupid Coaching</h1>
    <p>Ask your coach a question</p>
  </div>

  <form action="/answer" data-turbo="false">
    <input type="text" name="question">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
