<div class="container">
  <div>
    <h1>Stupid Coaching</h1>
    <p>Ask your coach anything</p>
  </div>

<div class="col-auto">
  <form class="d-flex" action="/answer" data-turbo="false">
    <input type="text" name="question" class="form-control">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>

</div>
